# Python virtual environment
venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Database
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# initial configuration files
__init__.py